* {
  margin: 0;
  padding: 0;
  font-family: serif;
}
body {
  background-image: url("images/image3.jpg");
  background-size: 100% auto; /* width full, height auto */
  background-repeat: no-repeat;
  background-position: top center;
}
h1 {
  display: flex;
  justify-content: center;
}
